# Libraries installation on the current python environment

In [10]:
try:
    import networkx 
except:
    %pip install networkx==3.1
    %pip install numpy==1.23.5
    %pip install pandas==2.0.3
    %pip install pillow==10.0.0
    %pip install scikit-learn==1.3.0
    %pip install scipy==1.11
    %pip install matplotlib==3.7.1
    %pip isntall matplotlib-inline==0.1.6

# Pre-processing original data

In [11]:
import csv
def custom_header_reader(fileSource:str):
    fileReader = open(fileSource,'r')
    csvReader = csv.reader(fileReader,delimiter='\t')
    for row, text in enumerate(csvReader):
        if row == 2: numMarkers = int(text[-1])
        elif row == 10: columnNames = text[:-1]; break
    return numMarkers, columnNames, fileReader

def line_reader(fileReader):
    for line in csv.reader(fileReader,delimiter='\t'):
        yield line
    fileReader.close()

In [12]:
import pandas as pd

RAW_POSITION_PATH = "data/raw/"
MURIEL_POS = RAW_POSITION_PATH+"muriel/"
MARIANNE_POS = RAW_POSITION_PATH+"marianne/"
CORA_POS = RAW_POSITION_PATH+"cora/"
JUL_SEV_POS = RAW_POSITION_PATH+"07-07/"
JUL_EI_POS = RAW_POSITION_PATH+"07-08/"
JUL_THI_POS = RAW_POSITION_PATH+"07-13/"

sampleData = MURIEL_POS+'t_003.tsv'
numMarkers, columnNames, readerBuffer = custom_header_reader(sampleData)
data = pd.DataFrame(line_reader(readerBuffer),columns=columnNames).astype(dict(zip(columnNames,[int,float,str]+[float]*len(columnNames[3:]))))
data.head()

,Frame,Time,SMPTE,ARIEL X,ARIEL Y,ARIEL Z,LFHD X,LFHD Y,LFHD Z,RFHD X,...,LFSH Z,RBHD X,RBHD Y,RBHD Z,LBHD X,LBHD Y,LBHD Z,LPLM X,LPLM Y,LPLM Z
0,1,0.00000,00:34:38.17:01,915.832,1636.494,-102.556,860.323,1594.619,-35.402,877.048,...,4.360,978.740,1481.155,-155.687,975.891,1501.635,-14.070,962.765,1354.705,679.482
1,2,0.01042,00:34:38.17:02,915.833,1636.502,-102.572,860.359,1594.634,-35.406,877.051,...,4.350,978.740,1481.176,-155.698,975.945,1501.673,-14.085,962.826,1354.702,679.471
2,3,0.02083,00:34:38.17:03,915.849,1636.510,-102.606,860.385,1594.632,-35.414,877.072,...,4.337,978.776,1481.168,-155.703,975.970,1501.698,-14.092,962.879,1354.709,679.464
3,4,0.03125,00:34:38.18:00,915.765,1636.592,-102.680,860.628,1594.947,-35.348,877.593,...,4.622,979.312,1480.932,-155.603,976.193,1502.154,-14.207,962.849,1354.905,679.555
4,5,0.04167,00:34:38.18:01,915.807,1636.588,-102.680,860.487,1594.766,-35.691,877.511,...,4.622,979.331,1480.824,-155.588,976.034,1502.055,-14.083,962.898,1354.968,679.470

## Working on NaNs

In [13]:
print("Total NaNs")
data[data.columns[(data.isna().sum(axis=0) > 0 ).to_list()]].isna().sum(axis=0).sort_values(ascending=False)

Total NaNs

LIEL X     2619
LIEL Z     2619
LIEL Y     2619
RIEL X     1723
RIEL Z     1723
RIEL Y     1723
LTHMB X    1588
LTHMB Z    1588
LTHMB Y    1588
RMID X     1376
RMID Y     1376
RMID Z     1376
LIWR X     1207
LIWR Z     1207
LIWR Y     1207
RPNKY X    1193
RPNKY Z    1193
RPNKY Y    1193
LFTHI X    1145
LFTHI Y    1145
LFTHI Z    1145
LMID X     1041
LMID Y     1041
LMID Z     1041
LPNKY X     982
LPNKY Y     982
LPNKY Z     982
LFWT X      594
LFWT Y      594
LFWT Z      594
RFSH X      400
RFSH Y      400
RFSH Z      400
RTHMB Y     397
RTHMB X     397
RTHMB Z     397
RFTHI X     241
RFTHI Y     241
RFTHI Z     241
RFWT Z      108
RFWT X      108
RFWT Y      108
RFUPA Z      95
RFUPA Y      95
RFUPA X      95
LKNI Z       56
LKNI Y       56
LKNI X       56
RKNI Z       50
RKNI Y       50
RKNI X       50
RBWT X       20
RBWT Z       20
RBWT Y       20
LBTHI X       8
LBTHI Z       8
LBTHI Y       8
dtype: int64

In [14]:
from itertools import groupby
max_nans_per_column = data.apply(lambda col: max(len(list(group))*value for value, group in groupby(col.isna().tolist())))
print("Max contiguous NaNs")
max_nans_per_column[max_nans_per_column > 0].sort_values(ascending=False)

Max contiguous NaNs

LTHMB Z    1369
LTHMB X    1369
LTHMB Y    1369
LIEL Y      546
LIEL X      546
LIEL Z      546
LFTHI Y     470
LFTHI X     470
LFTHI Z     470
RIEL X      419
RIEL Y      419
RIEL Z      419
LIWR Z      344
LIWR Y      344
LIWR X      344
RPNKY X     304
RPNKY Y     304
RPNKY Z     304
LMID Z      233
LMID Y      233
LMID X      233
LFWT Z      228
LFWT Y      228
LFWT X      228
RFSH Z      199
RFSH Y      199
RFSH X      199
RMID Z      184
RMID Y      184
RMID X      184
RFTHI Z     183
RFTHI X     183
RFTHI Y     183
LPNKY X     129
LPNKY Y     129
LPNKY Z     129
RTHMB Z      95
RTHMB X      95
RTHMB Y      95
RFUPA X      35
RFUPA Y      35
RFUPA Z      35
RKNI Z       23
RKNI Y       23
RKNI X       23
RFWT Z       19
RFWT Y       19
RFWT X       19
LKNI Z       18
LKNI Y       18
LKNI X       18
RBWT Z       13
RBWT Y       13
RBWT X       13
LBTHI X       3
LBTHI Z       3
LBTHI Y       3
dtype: int64

## Converting to reduced marker set

In [15]:
data.iloc[:,3::3].head()

,ARIEL X,LFHD X,RFHD X,C7 X,T5 X,T10 X,BWT X,CLAV X,STRN X,LBSH X,...,RMID X,RPNKY X,LTHMB X,LMID X,LPNKY X,LFRM X,LFSH X,RBHD X,LBHD X,LPLM X
0,915.832,860.323,877.048,1012.797,1023.049,1016.740,1040.511,777.278,802.928,1026.497,...,939.990,989.111,932.109,1009.927,1039.799,954.262,836.401,978.740,975.891,962.765
1,915.833,860.359,877.051,1012.818,1023.091,1016.824,1040.592,777.299,802.968,1026.606,...,940.103,989.209,934.605,1009.042,1039.888,954.299,836.448,978.740,975.945,962.826
2,915.849,860.385,877.072,1012.901,1023.155,1016.876,1040.673,777.302,803.010,1026.626,...,940.177,989.294,932.383,1002.182,1039.905,954.333,836.495,978.776,975.970,962.879
3,915.765,860.628,877.593,1012.879,1023.081,1016.928,1040.780,777.352,803.080,1026.646,...,937.336,988.107,940.946,1000.440,1037.247,954.350,836.279,979.312,976.193,962.849
4,915.807,860.487,877.511,1012.891,1023.096,1017.589,1040.907,777.813,803.111,1026.677,...,937.336,988.342,941.549,1006.624,1037.043,954.343,836.347,979.331,976.034,962.898

In [16]:
[colname[:-2] for colname in list(data.iloc[:1,3::3].columns)]

['ARIEL',
 'LFHD',
 'RFHD',
 'C7',
 'T5',
 'T10',
 'BWT',
 'CLAV',
 'STRN',
 'LBSH',
 'LSHO',
 'LFUPA',
 'LBUPA',
 'LIEL',
 'LELB',
 'LOWR',
 'LIWR',
 'RSHO',
 'RBSH',
 'RFUPA',
 'RBUPA',
 'RFSH',
 'RIEL',
 'RELB',
 'RFRM',
 'ROWR',
 'RIWR',
 'LFWT',
 'RFWT',
 'LBWT',
 'RBWT',
 'LFTHI',
 'LBTHI',
 'LKNE',
 'LKNI',
 'LSHN',
 'LANK',
 'LHEL',
 'LTOE',
 'LMT1',
 'LMT5',
 'RFTHI',
 'RBTHI',
 'RKNE',
 'RKNI',
 'RSHN',
 'RANK',
 'RHEL',
 'RTOE',
 'RMT1',
 'RMT5',
 'RTHMB',
 'RMID',
 'RPNKY',
 'LTHMB',
 'LMID',
 'LPNKY',
 'LFRM',
 'LFSH',
 'RBHD',
 'LBHD',
 'LPLM']

## Original markerset (some are missing)
![fullbodymarkers](../resources/fullmarkerset.png) ![markerstable](../resources/markersetable.png)

In [17]:
def map_reduce_num_markers(fullMarkerNames:list,reducedMarkerNames:list):
    if len(fullMarkerNames) == 62:
        markersMap = {reducedMarkerNames[0]:   ['LTOE','LMT1','LMT5'],
                      reducedMarkerNames[1]:   ['RTOE','RMT1','RMT5'],
                      reducedMarkerNames[2]:   ['LANK','LHEL'],
                      reducedMarkerNames[3]:   ['RANK','RHEL'],
                      reducedMarkerNames[4]:   ['LKNE','LKNI','LSHN'],
                      reducedMarkerNames[5]:   ['RKNE','RKNI','RSHN'],
                      reducedMarkerNames[6]:   ['RFWT','RBWT'],
                      reducedMarkerNames[7]:   ['RFWT','LFWT','RBWT','LBWT','BWT'],
                      reducedMarkerNames[8]:   ['RFWT','RBWT'],
                      reducedMarkerNames[9]:   ['T5','T10','CLAV','STRN'],
                      reducedMarkerNames[10]:  ['LPLM','LTHMB','LMID','LPNKY'],
                      reducedMarkerNames[11]:  ['RTHMB','RMID','RPNKY'],
                      reducedMarkerNames[12]:  ['LOWR','LIWR'],
                      reducedMarkerNames[13]:  ['ROWR','RIWR'],
                      reducedMarkerNames[14]:  ['LFRM','LELB','LIEL'],
                      reducedMarkerNames[15]:  ['RFRM','RELB','RIEL'],
                      reducedMarkerNames[16]:  ['LSHO'],
                      reducedMarkerNames[17]:  ['RSHO','C7','LSHO'],
                      reducedMarkerNames[18]:  ['RSHO'],
                      reducedMarkerNames[19]:  ['ARIEL','RFHD','LFHD','RBHD','LBHD']
                      }
    else:
        raise Exception("Not implemented")
    return markersMap

## Computing relative position

In [50]:
reducedMarkerNames = ['left_foot', 
                      'right_foot', 
                      'left_ank', 
                      'right_ank', 
                      'left_knee', 
                      'right_knee', 
                      'left_hip', 
                      'hip_central', 
                      'right_hip', 
                      'spine', 
                      'left_hand', 
                      'right_hand', 
                      'left_wrist', 
                      'right_wrist', 
                      'left_elbow', 
                      'right_elbow', 
                      'left_shoulder', 
                      'shoulder_center', 
                      'right_shoulder', 
                      'head']
fullMarkerNames = [colname[:-2] for colname in list(data.iloc[:1,3::3].columns)]
reduced20MarkersToFullMarkers = map_reduce_num_markers(fullMarkerNames, reducedMarkerNames)
reduced20MarkersToFullMarkersX = {key+'_X': [elem+' X' for elem in reduced20MarkersToFullMarkers[key]] for key in reduced20MarkersToFullMarkers.keys()}
reduced20MarkersToFullMarkersY = {key+'_Y': [elem+' Y' for elem in reduced20MarkersToFullMarkers[key]] for key in reduced20MarkersToFullMarkers.keys()}
reduced20MarkersToFullMarkersZ = {key+'_Z': [elem+' Z' for elem in reduced20MarkersToFullMarkers[key]] for key in reduced20MarkersToFullMarkers.keys()}

posTable = data.iloc[:,3:]

posTableX = posTable.iloc[:,::3]
posTableY = posTable.iloc[:,1::3]
posTableZ = posTable.iloc[:,2::3]

reducedPosX = pd.concat([posTableX[reduced20MarkersToFullMarkersX[colName+'_X']].mean(axis=1) for colName in reducedMarkerNames],axis=1,keys=[name+'_X' for name in reducedMarkerNames])
reducedPosY = pd.concat([posTableY[reduced20MarkersToFullMarkersY[colName+'_Y']].mean(axis=1) for colName in reducedMarkerNames],axis=1,keys=[name+'_Y' for name in reducedMarkerNames])
reducedPosZ = pd.concat([posTableZ[reduced20MarkersToFullMarkersZ[colName+'_Z']].mean(axis=1) for colName in reducedMarkerNames],axis=1,keys=[name+'_Z' for name in reducedMarkerNames])

reducedPosX = reducedPosX - reducedPosX.mean(axis=None)
#reducedPosX = 2*(reducedPosX - reducedPosX.min(axis=None)) / (reducedPosX.max(axis=None) - reducedPosX.min(axis=None)) - 1
reducedPosY = reducedPosY - reducedPosY.mean(axis=None)
#reducedPosY = 2*(reducedPosY - reducedPosY.min(axis=None)) / (reducedPosY.max(axis=None) - reducedPosY.min(axis=None)) - 1
reducedPosZ = reducedPosZ - reducedPosZ.mean(axis=None)
#reducedPosZ = 2*(reducedPosZ - reducedPosZ.min(axis=None)) / (reducedPosZ.max(axis=None) - reducedPosZ.min(axis=None)) - 1

def xyz_tables_to_xyz_columns(tablesList):
    xTable,yTable,zTable = tablesList
    mergedTable = pd.DataFrame()
    for joint in range(xTable.shape[1]):
        mergedTable = pd.concat([mergedTable,xTable.iloc[:,joint],yTable.iloc[:,joint],zTable.iloc[:,joint]],axis=1)
    return mergedTable

reducedPos = xyz_tables_to_xyz_columns([reducedPosX,reducedPosY,reducedPosZ])
reducedPos = 2*(reducedPos - reducedPos.min(axis=None)) / (reducedPos.max(axis=None) - reducedPos.min(axis=None)) - 1
reducedPos.head()

,left_foot_X,left_foot_Y,left_foot_Z,right_foot_X,right_foot_Y,right_foot_Z,left_ank_X,left_ank_Y,left_ank_Z,right_ank_X,...,left_shoulder_Z,shoulder_center_X,shoulder_center_Y,shoulder_center_Z,right_shoulder_X,right_shoulder_Y,right_shoulder_Z,head_X,head_Y,head_Z
0,-0.387101,-0.813019,-0.379711,-0.379867,-0.813489,-0.513993,-0.292816,-0.789833,-0.372809,-0.284624,...,-0.352822,-0.305706,-0.046252,-0.430975,-0.305550,-0.042553,-0.514154,-0.334342,0.076811,-0.436274
1,-0.387105,-0.813017,-0.379712,-0.380271,-0.812774,-0.514797,-0.292813,-0.789820,-0.372801,-0.284623,...,-0.352820,-0.305692,-0.046244,-0.430979,-0.305540,-0.042546,-0.514159,-0.334331,0.076818,-0.436281
2,-0.387105,-0.813012,-0.379710,-0.380502,-0.812283,-0.515291,-0.292806,-0.789827,-0.372807,-0.284617,...,-0.352840,-0.305660,-0.046232,-0.430996,-0.305528,-0.042526,-0.514177,-0.334317,0.076820,-0.436288
3,-0.387329,-0.812852,-0.380251,-0.380265,-0.812775,-0.514766,-0.292806,-0.789834,-0.372807,-0.284783,...,-0.352903,-0.305636,-0.046189,-0.431016,-0.305502,-0.042512,-0.514184,-0.334153,0.076897,-0.436310
4,-0.387222,-0.812991,-0.380201,-0.380467,-0.813629,-0.513727,-0.292825,-0.789822,-0.372830,-0.284484,...,-0.352912,-0.305663,-0.046292,-0.431002,-0.305573,-0.042712,-0.514173,-0.334189,0.076835,-0.436294

In [51]:
from matplotlib import pyplot as plt
%matplotlib
from matplotlib.widgets import Slider
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
#posTableY = posTable.iloc[:,::3]
#posTableZ = posTable.iloc[:,1::3]
#posTableX = posTable.iloc[:,2::3]
posTableY = reducedPos.iloc[:,::3]
posTableZ = reducedPos.iloc[:,1::3]
posTableX = reducedPos.iloc[:,2::3]


plt.close("all")
fig = plt.figure()
ax:plt.Axes = fig.add_subplot(111, projection='3d')

minMax = np.zeros((2,3))
minMax[0,:] = [np.nanmin(posTableX.values),np.nanmin(posTableY.values),np.nanmin(posTableZ.values)]
minMax[1,:] = [np.nanmax(posTableX.values),np.nanmax(posTableY.values),np.nanmax(posTableZ.values)]

# Set the window title
fig.canvas.manager.window.title("3D Movement\t(Scroll with mouse wheel)")

# Set the initial time index
time_index = 0

# Function to update the plot based on the slider value
def update_plot(val):
    ax.cla()  # Clear the previous plot
    
    # Filter the data based on the current time index
    filteredX = posTableX.iloc[val]
    filteredY = posTableY.iloc[val]
    filteredZ = posTableZ.iloc[val]
    
    ax.scatter(filteredX,filteredY,filteredZ)

    ax.set_xlim([minMax[0,0],minMax[1,0]])
    ax.set_ylim([minMax[0,1],minMax[1,1]])
    ax.set_zlim([minMax[0,2],minMax[1,2]])

    ax.set_xlabel('X', fontsize=12)
    ax.set_ylabel('Y', fontsize=12)
    ax.set_zlabel('Z', fontsize=12)
    #ax.set_title("Movement "+str(picked))

    fig.canvas.draw_idle()

# Create a slider widget
slider_ax = plt.axes([0.2, 0.03, 0.6, 0.03])
maxValue = posTable.shape[0]-1
slider = Slider(slider_ax, 'TimeIndex:', 0, maxValue, valinit=time_index, valstep=1)


# Define a function to update the slider value with the mouse wheel
def on_scroll(event):
    if event.button == 'down':
        if slider.val + slider.valstep*2 <= maxValue:
            slider.set_val(slider.val + slider.valstep*2)
    elif event.button == 'up':
        if slider.val - slider.valstep*2 >= 0:
            slider.set_val(slider.val - slider.valstep*2)
        

# Connect the mouse wheel event to the function
fig.canvas.mpl_connect('scroll_event', on_scroll)


# Register the update_plot function with the slider widget
slider.on_changed(update_plot)

# Initial plot
update_plot(time_index)

# Show the plot
plt.show()

Using matplotlib backend: TkAgg

In [65]:
from matplotlib import pyplot as plt
%matplotlib
from matplotlib.widgets import Slider
from mpl_toolkits.mplot3d import Axes3D
import numpy as np
posTableY = posTable.iloc[:,::3]
posTableZ = posTable.iloc[:,1::3]
posTableX = posTable.iloc[:,2::3]

plt.close("all")
fig = plt.figure(figsize=(12,12))
sub_plot_position = [0, 0.05, 1, 1]
ax:plt.Axes = fig.add_subplot(sub_plot_position, projection='3d')

minMax = np.zeros((2,3))
minMax[0,:] = [np.nanmin(posTableX.values),np.nanmin(posTableY.values),np.nanmin(posTableZ.values)]
minMax[1,:] = [np.nanmax(posTableX.values),np.nanmax(posTableY.values),np.nanmax(posTableZ.values)]

minMax[0,:] = [np.nanmin(posTableX.iloc[:1,:].values),np.nanmin(posTableY.iloc[:1,:].values),np.nanmin(posTableZ.iloc[:1,:].values)]
minMax[1,:] = [np.nanmax(posTableX.iloc[:1,:].values),np.nanmax(posTableY.iloc[:1,:].values),np.nanmax(posTableZ.iloc[:1,:].values)]

# Set the window title
fig.canvas.manager.window.title("3D Movement\t(Scroll with mouse wheel)")

# Set the initial time index
time_index = 0

# Function to update the plot based on the slider value
def update_plot(val):
    ax.cla()  # Clear the previous plot
    
    # Filter the data based on the current time index
    filteredX = posTableX.iloc[val]
    filteredY = posTableY.iloc[val]
    filteredZ = posTableZ.iloc[val]
    
    ax.scatter(filteredX,filteredY,filteredZ,s=0)
    
    for i, col_name in enumerate(posTableX.columns):
        ax.text(filteredX[i], filteredY[i], filteredZ[i], col_name[:-2], horizontalalignment='center',fontsize=6, color='black')

    ax.set_xticks([minMax[0,0],minMax[1,0]])
    ax.set_yticks([minMax[0,1],minMax[1,1]])
    ax.set_zticks([minMax[0,2],minMax[1,2]])
    ax.set_xlim([minMax[0,0],minMax[1,0]])
    ax.set_ylim([minMax[0,1],minMax[1,1]])
    ax.set_zlim([minMax[0,2],minMax[1,2]])
    
    fig.canvas.draw_idle()

# Create a slider widget
slider_ax = plt.axes([0.2, 0.03, 0.6, 0.03])
maxValue = posTable.shape[0]-1
slider = Slider(slider_ax, 'TimeIndex:', 0, maxValue, valinit=time_index, valstep=1)


# Define a function to update the slider value with the mouse wheel
def on_scroll(event):
    if event.button == 'down':
        if slider.val + slider.valstep*2 <= maxValue:
            slider.set_val(slider.val + slider.valstep*2)
    elif event.button == 'up':
        if slider.val - slider.valstep*2 >= 0:
            slider.set_val(slider.val - slider.valstep*2)
        

# Connect the mouse wheel event to the function
fig.canvas.mpl_connect('scroll_event', on_scroll)


# Register the update_plot function with the slider widget
slider.on_changed(update_plot)

# Initial plot
update_plot(time_index)

# Show the plot
plt.show()

Using matplotlib backend: TkAgg

In [ ]:
plt.close('all')